<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="starlit gitlab" value="https://gitlab.com/api/v4/projects/37067128/packages/nuget/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<gitlab>
			<add key="Username" value="DarkUI-Starlit" />
			<add key="ClearTextPassword" value="glpat-LsEAsQxYYJAkQTn7sXVd" />
			<add key="ApiKey" value="59EAFE5D-FED9-4404-BF4D-9DAD2EF19404" />
		</gitlab>
	</packageSourceCredentials>
</configuration>

<!-- to deploy: "nuget push DarkUI\bin\Debug\DarkUI-Starlit.2.2.0.nupkg -Source DarkUI-Starlit-Deploy" -->
